<html>

  <head>
    <title>Title</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
	<!-- LEFT AND RIGHT SIDE -->
	<div class="split left">
	  <div class="centered">
		<h2>Select</h2>
		<form action="http://localhost:5000/list" method="POST">
			<p>Appointment Length<input type="number" name="length" min="5" max="60" step="5"/></p>
			<p><input type="submit" value="submit"/></p>
		</form>
	  </div>
	</div>

	<div class="split right">
	  <div class="centered">
		<h2>Availability</h2>
	  </div>
	</div>
  </body>

</html>
